books{color:white; blackground-color=gray;width:100%;}

heading{
color:green;
font-size:40px;
blackground-color:powderblue;
}

heading,title,auother,publisher{
display:block;
}

title{
font-size:25px;
font-weight:bold;
}